/* CSS styles */

body {
    background-color: #FFBF69;
    font-family: 'Times New Roman', Helvetica, sans-serif;
    font-size: 20px;
}
.title {
    font-weight: bold;
    font-size: 36px;
    text-align: center;
    text-decoration: dotted underline chocolate;
}
.link {
    margin-left: 35px;
}
.fancybox {
    background-color: #FFE8D6;
    border: 10px ridge #CB997E;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: auto;
    box-sizing: border-box;
    display: inline-block;
    margin-bottom: 20px;

}
.listdesc {
    font-size: 18px;
    font-style: italic;
}
img {
    width: 350px;
    height: 250px;
    border: 3px solid black;
}
button {
    background-color: #FF9F1C;
    color: black;
    font-size: 16px;
}
.briefintro, .listdesc, .link {
    color: #36393f;
}
